<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/images/img.png" rel="shortcut icon">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">
    <title>Commissioni</title>
</head>

<body>
<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
            </li>
            <li class="active">
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
            </li>
            <li>
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        MENU
                    </button>
                </div>
            </div>
        </nav>

        <h2>Commissioni risparmiate</h2>
        <p>Mostra quanto hai risparmiato vendendo in store piuttosto che su Amazon.</p>
        <p>Il calcolo viene effettuato sommando l'eventuale costo di spedizione e le eventuali commissioni di Amazon.</p>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row mb20">
                    <div class="form-group">
                        <label for="months" class="col-md-3 col-sm-3 col-xs-5 control-label">Mese selezionato</label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                            <select class="form-control" id="months" onchange="drawChart(this.value)">
                                <option value="0">Gennaio</option>
                                <option value="1">Febbraio</option>
                                <option value="2">Marzo</option>
                                <option value="3">Aprile</option>
                                <option value="4">Maggio</option>
                                <option value="5">Giugno</option>
                                <option value="6">Luglio</option>
                                <option value="7">Agosto</option>
                                <option value="8">Settembre</option>
                                <option value="9">Ottobre</option>
                                <option value="10">Novembre</option>
                                <option value="11">Dicembre</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3 col-sm-6 col-xs-12 mb20">
                            <div class="text-white bg-flat-color-1">
                                <div class="card-body">
                                    <h4><b id="totValue"></b></h4>
                                    <p class="text-white">Commissioni totali</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 mb20">
                            <div class="text-white bg-flat-color-2">
                                <div class="card-body">
                                    <h4><b id="amazPerc"></b></h4>
                                    <p class="text-white">Commissioni Amazon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 mb20">
                            <div class="text-white bg-flat-color-3">
                                <div class="card-body">
                                    <h4><b id="shipPerc"></b></h4>
                                    <p class="text-white">Costi spedizione</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 mb20">
                            <div class="text-white bg-flat-color-4">
                                <div class="card-body">
                                    <h4><b id="average"></b></h4>
                                    <p class="text-white">Media giornaliera</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <canvas id="myChart" style="width: 100% !important;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/public/javascripts/momentjs.js"></script>
<script src="/public/javascripts/charts.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    moment.locale('it');
    var socket = io.connect('http://localhost:8000');
    var lineChart;
    var currMonth = new Date().getMonth();

    var amazPerc, shipPerc, storeProducts;

    $(document).ready(function () {
        socket.emit('getInfo', function (items) {
            storeProducts = items;
            socket.emit('readConf', function (conf) {
                for (var key in conf) {
                    if (key === 'amazPerc' && conf.hasOwnProperty(key)) {
                        amazPerc = parseInt(conf[key]);
                    }
                    if (key === 'shipPerc' && conf.hasOwnProperty(key)) {
                        shipPerc = parseInt(conf[key]);
                    }
                }
                drawChart(currMonth);
            });

            $('#months').find('option:eq(' + currMonth + ')').prop('selected', true);
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');

            });
        });
    });

    function logout() {
        socket.emit('logout');
    }

    socket.on('redirectLogin', function () {
        window.location = '/';
    });

    function drawChart(currMonth) {
        var total = 0, totalAmaz = 0, totalShip = 0, currDays = 0;
        var values = [];
        var meta = lineChart && lineChart.data && lineChart.data.datasets[0]._meta;
        for (var i in meta) {
            if (meta.hasOwnProperty(i) && meta[i].controller) meta[i].controller.chart.destroy();
        }

        for (var idx = 0; idx < storeProducts.length; idx++) {
            var selMonth = parseInt(storeProducts[idx].CreatedAt.substring(5, 7)) - 1;
            if (selMonth === parseInt(currMonth)) {
                var aPerc = storeProducts[idx].Price * (amazPerc / 100);
                var perc = aPerc + shipPerc;
                values.push({x: new Date(storeProducts[idx].CreatedAt), y: perc});
                total += perc;
                totalAmaz += aPerc;
                totalShip += shipPerc;
                currDays++;
            }
        }

        document.getElementById('totValue').innerText = total.toFixed(2) + ' €';
        document.getElementById('average').innerText = (total / currDays).toFixed(2) + ' €';
        document.getElementById('amazPerc').innerText = totalAmaz.toFixed(2) + ' €';
        document.getElementById('shipPerc').innerText = totalShip.toFixed(2) + ' €';

        var config = {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Euro',
                    data: values,
                    fill: false,
                    // borderColor: 'rgba(75, 192, 192, 0.9)'
                    borderColor: 'rgba(22, 160, 133, 0.7)'
                }]
            },
            options: {
                animation: {duration: 2000},
                legend: {display: false},
                responsive: true,
                title: {
                    display: true,
                    text: 'Riepilogo commissioni risparmiate'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        label: function (t) {
                            return t.yLabel.toFixed(2) + ' €';
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {display: false},
                        type: 'time',
                        time: {
                            tooltipFormat: 'D MMM YYYY',
                            unit: 'day'
                        }
                    }]
                }
            }
        };

        var ctx = document.getElementById('myChart').getContext('2d');
        lineChart = new Chart(ctx, config);
        window.myLine = lineChart;
    }
</script>
</body>
</html>