<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Configurazioni">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/images/img.png" rel="shortcut icon">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">

    <title>Configurazioni</title>
</head>

<body>
<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="hidden">
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
            </li>
            <li class="active">
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </nav>

        <h2>Configurazioni</h2>
        <p>Inserisci i parametri di configurazione per le commissioni, Gmail e Amazon.</p>

        <div class="line"></div>
        <div class="row">
            <h3 class="text-center mb20">
                <img src="../public/images/percentage.png" alt="amazon_icon" style="width: 5%;">
                Percentuali e costi
            </h3>
            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <input type="text" id="amazPerc" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="amazPerc">Commissioni Amazon (in %)</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <input type="text" id="shipPerc" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="shipPerc">Costo medio di spedizione (in €)</label>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div>
                <h3 class="text-center mb20">
                    <img src="../public/images/gmail.png" alt="gmail_icon" style="width: 5%;">
                    Credenziali Gmail
                </h3>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-12">
                    <div class="group">
                        <input type="text" id="client_id" required style="width: 85%;">
                        <span class="highlight" style="width: 85%;"></span>
                        <span class="bar" style="width: 85%;"></span>
                        <label for="client_id">Client id</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="group">
                        <input type="text" id="client_secret" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="client_secret">Client secret</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="group">
                        <input type="text" id="redirect_uri" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="redirect_uri">Redirect URI</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <h3 class="text-center mb20">
                <img src="../public/images/amazon.png" alt="amazon_icon" style="width: 5%;">
                Credenziali Amazon
            </h3>
            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <input type="text" id="MWSseller_id" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="MWSseller_id">ID venditore</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <input type="text" id="MWSaccess_key" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="MWSaccess_key">Chiave di accesso MWS</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="group">
                    <input type="text" id="MWSsecret_key" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="MWSsecret_key">Chiave segreta MWS</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <input type="text" id="IT_Mrkt" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="IT_Mrkt">Marketplace Italia</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <input type="text" id="UK_Mrkt" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="UK_Mrkt">Marketplace Inghilterra</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <input type="text" id="DE_Mrkt" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="DE_Mrkt">Marketplace Germania</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <input type="text" id="FR_Mrkt" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="FR_Mrkt">Marketplace Francia</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <input type="text" id="ES_Mrkt" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="ES_Mrkt">Marketplace Spagna</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="group">
                    <input type="text" id="AWSaccess_key" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="AWSaccess_key">Chiave di accesso AWS</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="group">
                    <input type="text" id="AWSsecretKey" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="AWSsecretKey">Chiave segreta AWS</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-5 col-md-5 col-sm-offset-6 col-md-offset-6">
                    <div class="form-group pull-right">
                        <a href="#" onclick="saveConf()" class="btn btn-primary">SALVA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8000');
    socket.on('redirectLogin', function () {
        window.location = '/';
    });

    function saveConf() {
        var params = {};
        for (var i = 0; i < document.getElementsByTagName("input").length; i++) {
            params[document.getElementsByTagName("input")[i].id] = document.getElementsByTagName("input")[i].value;
        }
        socket.emit('writeConf', params);
    }

    function logout() {
        socket.emit('logout');
    }

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        socket.emit('readConf', function (conf) {
            if (conf.authenticated) {
                $('li').removeClass('hidden');
            }

            for (var key in conf) {
                if (document.getElementsByTagName("input")[key] && conf.hasOwnProperty(key)) {
                    document.getElementsByTagName("input")[key].value = conf[key];
                }
            }
        });
    });
</script>
</body>
</html>