<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/images/img.png" rel="shortcut icon">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">

    <title>Dashboard</title>
</head>

<body>
<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </nav>

        <h2>Dashboard</h2>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <a href="/fatture">
                            <img src="/public/images/euro.png" alt="euro">
                        </a>
                    </div>
                    <div class="section2">
                        <h1>FATTURE</h1><br>
                    </div>
                    <div class="section2">
                        <p>
                            Scarica le fatture di Amazon per il commercialista.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-info ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <a href="/store">
                            <img src="/public/images/shop.png" alt="shop">
                        </a>
                    </div>
                    <div class="section2">
                        <h1>VENDUTO IN STORE</h1><br>
                    </div>
                    <div class="section2">
                        <p>
                            Scansiona il codice a barre del prodotto appena venduto e automaticamente verrà ridotta
                            la quantità dal tuo inventario Amazon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-danger ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <a href="/commissioni">
                            <img src="/public/images/percentage.png" alt="discount">
                        </a>
                    </div>
                    <div class="section2">
                        <h1>COMMISSIONI</h1>
                    </div>
                    <div class="section2">
                        <p> Controlla quanto hai risparmiato in commissioni vendendo in store. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-yellow ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <a href="/configurazioni">
                            <img src="/public/images/settings.png" alt="settings">
                        </a>
                    </div>
                    <div class="section2">
                        <h1>CONFIGURAZIONI</h1><br>
                    </div>
                    <div class="section2">
                        <p>Inserisci il client_id, client_secret e uri_redirect.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascripts/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8000');

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function logout() {
        socket.emit('logout');
    }

    socket.on('redirectLogin', function () {
        window.location = '/';
    });
</script>
</body>
</html>