<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link rel="shortcut icon" href="/public/images/img.png">

    <title>Fatture</title>

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
            </li>
            <li class="active">
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
            </li>
            <li>
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        MENU
                    </button>
                </div>
            </div>
        </nav>

        <h2>Fatture</h2>
        <p>Seleziona la data di inizio e fine in cui vuoi ricercare le fatture Amazon ed il relativo marketplace.</p>
        <p class="underlined">
            <strong>
                Nel caso in cui siano state cancellate le relative mail, le fatture non verranno recuperate.
            </strong>
        </p>

        <div class="line"></div>

        <form novalidate>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-5 col-md-5">
                        <div class="group">
                            <input type="text" id="date-start" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="date-start">Data inizio</label>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <div class="group">
                            <input type="text" id="date-end" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="date-end">Data fine</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="group">
                            <label style="color: #16a085;">Marketplace</label>
                        </div>
                        <ul class="noBullet">
                            <li class="list__item">
                                <label class="label--checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Italia
                                </label>
                            </li>
                            <li class="list__item">
                                <label class="label--checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Germania
                                </label>
                            </li>
                            <li class="list__item">
                                <label class="label--checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Francia
                                </label>
                            </li>
                            <li class="list__item">
                                <label class="label--checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Spagna
                                </label>
                            </li>
                            <li class="list__item">
                                <label class="label--checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Inghilterra
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-5 col-md-5 col-sm-offset-6 col-md-offset-6">
                        <div class="form-group pull-right">
                            <button class="btn btn-primary" type="reset">RESET</button>
                            <button class="btn btn-primary" onclick="getAttachment()">SCARICA</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a id="downloadPdf"></a>
</div>
<!--https://github.com/T00rk/bootstrap-material-datetimepicker-->
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/public/javascripts/momentjs.js"></script>
<script src="/public/javascripts/material.js"></script>
<script src="/public/javascripts/datepicker.js"></script>
<script src="/public/javascripts/sw.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8000');

    $(document).ready(function () {
        socket.on('emitPDF', function (b64Data) {
            var isChrome = !!window.chrome && !!window.chrome.webstore;
            var downloadURL = 'data:application/pdf;base64,' + b64Data;
            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                var byteCharacters = atob(b64Data);
                var byteNumbers = new Array(byteCharacters.length);
                for (var i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }
                var byteArray = new Uint8Array(byteNumbers);
                var blob = new Blob([byteArray], {type: 'application/pdf'});
                window.navigator.msSaveOrOpenBlob(blob, "Fattura");
            } else if (isChrome) {
                var link = document.getElementById('downloadPdf');
                link.download = "Fattura";
                link.target = '_blank';
                link.href = downloadURL;
                document.body.appendChild(link);
                link.click();
            } else { // Directly use base 64 encoded data for rest browsers (not IE)
                window.open(downloadURL, '_blank');
            }
        });

        socket.on('sendError', function (error) {
            alert('Si è verificato un errore: ' + error);
        });

        socket.on('redirectLogin', function () {
            window.location = '/';
        });
    });

    function logout() {
        socket.emit('logout');
    }

    function getAttachment() {
        if ($("input[type=checkbox]:checked").length === 0) {
            alert('E\' necessario selezionare almeno un marketplace per scaricare le fatture.');
            return false;
        }

        socket.emit('getAttachment', {
            startDate: document.getElementsByTagName("input")[0].value,
            endDate: document.getElementsByTagName("input")[1].value,
            it: document.getElementsByTagName("input")[2].value,
            de: document.getElementsByTagName("input")[3].checked,
            fr: document.getElementsByTagName("input")[4].checked,
            es: document.getElementsByTagName("input")[5].checked,
            uk: document.getElementsByTagName("input")[6].checked
        });
    }
</script>
</body>
</html>