<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/stylesheets/style.css" rel="stylesheet">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/images/img.png" rel="shortcut icon">
    <title>Login</title>
    <script src="/public/javascripts/jquery.js"></script>
    <script src="/public/javascripts/bootstrap.js"></script>
</head>
<body>
<!--https://developers.google.com/identity/sign-in/web/sign-in-->
<div class="container" id="login-block">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="login-box clearfix">
                <div class="login-logo">
                    <img src="/public/images/img.png" alt="Company Logo">
                </div>
                <hr>
                <div class="text-center">
                    <input type="image" onclick="signIn()" src="/public/images/sign_in.png" alt="ACCEDI"
                           style="cursor: pointer;">
                </div>
                <hr>
                <div class="col-sm-12 col-md-12 text-center login-links">
                    <p style="color: white;">Per il primo accesso premi <a href="/configurazioni">qui</a></p>
                </div>
                <hr>
                <div class="col-sm-12 col-md-12 text-center login-links">
                    <p style="color: white;">In caso di problemi all'accesso contattare <br/>
                        <!--<a href="tel:+393333333333">Claudio Fusillo</a>-->
                        <a href="/dashboard">Claudio Fusillo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    function signIn() {
        var socket = io.connect('http://localhost:8000');
        socket.emit('signIn');

        socket.on('redirectLogin', function (conf) {
            window.location = conf.redirect_uri;
        });
    }
</script>
</body>
</html>