<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/images/img.png" rel="shortcut icon">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">
    <title>Store</title>
    <script src="/public/javascripts/jquery.js"></script>
    <script src="/public/javascripts/bootstrap.js"></script>
</head>

<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
            </li>
            <li class="active">
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
            </li>
            <li>
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </nav>

        <h2>Venduto in store</h2>
        <p>Scansiona il codice a barre con il tuo lettore ed il numero di offerte disponibili su Amazon verrà
            automaticamente decrementato di 1 unità. </p>
        <p class="underlined">
            <strong>Due articoli con lo stesso codice a barre devono essere scansionati due volte!</strong>
        </p>

        <div class="line"></div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-5 col-md-5">
                <label class="groupNoMargin" style="margin-bottom: 30px;">Scansiona il codice a barre</label>
                <form onsubmit="return enqueueReq();">
                    <div class="group">
                        <input type="text" id="UPC" required autocomplete="off"
                               oninvalid="this.setCustomValidity('Scansiona l\'articolo con il lettore di codici a barre.')">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="UPC">Codice a barre (UPC)</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="reset">RESET</button>
                        <button class="btn btn-primary" type="submit">SCARICA</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-7 col-md-7 table-responsive">
                <label class="groupNoMargin" style="margin-bottom: 30px;">
                    Ultimi articoli venduti ed in elaborazione
                </label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>UPC</th>
                        <th>Ora vendita</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tempItems" style="display: none"></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-12 col-md-12 table-responsive">
                <label class="groupNoMargin" style="margin-bottom: 30px;">
                    Ultimi articoli venduti in store
                </label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>UPC</th>
                        <th>Descrizione</th>
                        <th>Ora vendita</th>
                        <th>Prezzo</th>
                        <th>Quantità</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="items" style="display: none"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascripts/momentjs.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    moment.locale('it');
    var socket = io.connect('http://localhost:8000');

    $(document).ready(function () {
        refreshTables();
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $("#UPC").keyup(function() {
            $("#UPC").val(this.value.match(/[0-9]*/));
        });
    });

    socket.on('redirectLogin', function () {
        window.location = '/';
    });

    socket.on('sendError', function (error) {
        alert('Si è verificato un errore: ' + error);
    });

    socket.on('refreshTables', function () {
        refreshTables();
    });

    function enqueueReq() {
        if (document.getElementsByTagName("input")[0]) {
            socket.emit('updateQuantity', document.getElementsByTagName("input")[0].value);
            refreshTables();
        }
        return false;
    }

    function refreshTables() {
        socket.emit('getInfo', function (err, items, tempItems) {
            if (err) {
                console.error(err);
            }
            var tempItemsEl = $('#tempItems');
            var itemsEl = $('#items');
            tempItemsEl.siblings().remove();
            for (var i = 0; i < tempItems.length; i++) {
                row = $('<tr style="display:none;">\n' +
                    '<td>' + tempItems[i].UPC + '</td>\n' +
                    '<td>' + moment(tempItems[i].CreatedAt).format('lll') + '</td>\n' +
                    '</tr>');
                tempItemsEl.after(row);
                row.fadeIn(500);
            }

            itemsEl.siblings().remove();
            for (i = 0; i < items.length; i++) {
                var row = $('<tr style="display:none;">\n' +
                    '<td>' + items[i].UPC + '</td>\n' +
                    '<td>' + items[i].Description + '</td>\n' +
                    '<td>' + moment(items[i].CreatedAt).format('lll') + '</td>\n' +
                    '<td>' + items[i].Price + ' €' + '</td>\n' +
                    '<td>' + items[i].Quantity + '</td>\n' +
                    '</tr>');
                itemsEl.after(row);
                row.fadeIn(700);
            }
        });
    }

    function logout() {
        socket.emit('logout');
    }
</script>
</body>
</html>