<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard for Amazon">
    <meta name="author" content="Claudio Fusillo">
    <link href="/public/images/img.png" rel="shortcut icon">
    <link href="/public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/style2.css" rel="stylesheet">
    <title>Store</title>
</head>

<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mani' Dashboard</h3>
            <strong>Mani'</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
                <a href="/fatture">
                    <i class="glyphicon glyphicon-euro"></i>
                    Fatture
                </a>
            </li>
            <li class="active">
                <a href="/store">
                    <i class="glyphicon glyphicon-tags"></i>
                    Venduto in store
                </a>
            </li>
            <li>
                <a href="/commissioni">
                    <i class="glyphicon glyphicon-scissors"></i>
                    Commissioni risparmiate
                </a>
                <a href="/configurazioni">
                    <i class="glyphicon glyphicon-cog"></i>
                    Configurazioni
                </a>
            </li>
            <li class="exitBtn">
                <a href="#" onclick="logout()">
                    <i class="glyphicon glyphicon-off"></i>
                    ESCI
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </nav>

        <h2>Venduto in store</h2>
        <p>Scansiona il codice a barre con il tuo lettore ed il numero di offerte disponibili su Amazon verrà
            automaticamente decrementato di 1 unità. </p>
        <p class="underlined">
            <strong>Due articoli con lo stesso codice a barre devono essere scansionati due volte!</strong>
        </p>

        <div class="line"></div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-5 col-md-5">
                <p class="mb20">Scansiona il codice a barre dell'articolo venduto</p>
                <form action="#">
                    <div class="group">
                        <input type="text" id="UPC" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="UPC">Codice a barre (UPC)</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="reset">RESET</button>
                        <button class="btn btn-primary" onclick="enqueueReq()">SCARICA</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-7 col-md-7">
                <p class="mb20">Lista degli ultimi 10 prodotti venduti: (TODO: recuperare nome prodotto)</p>
                <form>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST1" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST2" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST3" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST4" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST5" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST6" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST7" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST8" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST9" readonly>
                        <span class="bar"></span>
                    </div>
                    <div class="groupNoMargin">
                        <input type="text" value="TEST10" readonly>
                        <span class="bar"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8000');

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    socket.on('redirectLogin', function () {
        window.location = '/';
    });

    function enqueueReq() {
        if (document.getElementsByTagName("input")[0].value) {
            console.log(document.getElementsByTagName("input")[0].value);
        }
    }

    function logout() {
        socket.emit('logout');
    }
</script>
</body>
</html>